[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
glfw = "*"
pyopengl = "*"
pyrr = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
